.live-search-results {
  position: absolute;
  background: #fff;
  max-height: 420px;
  overflow-y: auto;
  z-index: 1000;
  border: 1px solid #ddd;
  margin-top: 10px; }

.ps-ajax-loading {
  text-align: center; }
  .ps-ajax-loading .ribble {
    display: inline-block;
    min-width: 33.33333%; }
    .ps-ajax-loading .ribble .blobb {
      width: 20px;
      display: inline-block;
      height: 20px;
      margin-right: 1.5px;
      background-color: #2d7d9a;
      -webkit-transition: 1s all ease-in-out;
      transition: 1s all ease-in-out; }
      .ps-ajax-loading .ribble .blobb.square {
        border-radius: 0%; }
      .ps-ajax-loading .ribble .blobb.fast {
        -webkit-animation: blobb 1.25s infinite;
        animation: blobb 1.25s infinite; }
      .ps-ajax-loading .ribble .blobb:nth-child(2) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s; }
      .ps-ajax-loading .ribble .blobb:nth-child(3) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      .ps-ajax-loading .ribble .blobb:nth-child(4) {
        -webkit-animation-delay: 0.75s;
        animation-delay: 0.75s; }
      .ps-ajax-loading .ribble .blobb:nth-child(5) {
        -webkit-animation-delay: 1s;
        animation-delay: 1s; }

/* Animation */
@-webkit-keyframes blobb {
  0%,
	25% {
    background: #2d7d9a;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    background-color: #0099bc;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    background-color: #2d7d9a;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes blobb {
  0%,
	25% {
    background: #2d7d9a;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    background-color: #0099bc;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    background-color: #2d7d9a;
    -webkit-transform: scale(1);
    transform: scale(1); } }
.live-search-item {
  padding: 10px;
  border-bottom: 1px solid #ddd; }
  .live-search-item:first-child {
    margin-top: 0; }
  .live-search-item:last-child {
    border-bottom: 0; }
  .live-search-item::after {
    content: '';
    display: table;
    clear: both; }
  .live-search-item.hightlight {
    background: #def; }
  .live-search-item .item-thumb {
    width: 70px;
    float: left;
    margin-right: 10px; }
  .live-search-item .item-wrap {
    overflow: hidden; }
    .live-search-item .item-wrap .item-title {
      display: block;
      margin-bottom: 0.2em;
      margin-top: 0;
      font-size: 14px;
      font-weight: 600; }
      .live-search-item .item-wrap .item-title .item-title-link {
        text-decoration: none;
        box-shadow: none;
        color: #000; }
    .live-search-item .item-wrap .item-excerpt {
      font-size: 13px;
      line-height: 21px;
      color: #32373c;
      word-wrap: break-word; }
      .live-search-item .item-wrap .item-excerpt p {
        margin: 5px 0 !important; }

.suggest-keyword {
  cursor: pointer; }

.live-search-results .group-posttype {
  border: 1px solid #ddd; }
  .live-search-results .group-posttype .group-posttype-label {
    border-right: 1px solid #ddd;
    background: #ddd;
    padding: 10px; }
    .live-search-results .group-posttype .group-posttype-label .group-label {
      font-size: 14px;
      color: #000;
      font-weight: 600; }
  .live-search-results .group-posttype .group-posttype-items {
    padding: 10px; }
.live-search-results.box-small-width .live-search-item .item-thumb {
  margin-right: 0;
  width: 100%;
  float: none; }

.group-posttype {
  display: flex; }
  .group-posttype::after {
    content: '';
    display: table;
    clear: both; }

.ajax-no-result {
  padding: 10px;
  box-shadow: none;
  color: #000;
  font-size: 14px;
  font-weight: 600; }

.align-center {
  text-align: center; }

/*# sourceMappingURL=frontend.css.map */
